{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<h1>Votre panier</h1>

<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>image</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantité</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
       {% for item in dataPanier %}
        <tr>
            <td><a href="{{ path('supprimer_panier', {'id': item.produit.id}) }}" class="text-danger">Supprimer</a></td>
            <td><img src="{{ asset('image/dessins/' ~ item.produit.image) }}" alt="{{item.produit}}" style="width: 100px;"></td>
            <td><a href="{{ path('detail_produit', {'id': item.produit.id}) }}">{{ item.produit }}</a></td>
            <td>{{ item.produit.prix }} €</td>
            <td><a href="{{ path('retirer_panier', {'id': item.produit.id}) }}" class="text-danger">-</a> {{ item.qtt }} <a href="{{ path('ajout_panier', {'id': item.produit.id}) }}" class="text-success">+</a></td>
            <td>{{ item.qtt * item.produit.prix }}</td>
        </tr>
       {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucun article dans le panier</td>
            </tr>
       {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th scope="row" colspan="4">Total</th>
            <td class="">{{ total }} €</td>
        </tr>
    </tfoot>
</table>
<p><a href="{{ path('vider') }}">Vider le panier</a> <a href="{{ path('validation_commande') }}" class="btn btn-success float-end">Confirmer la commande</a></p>

{{ dump() }}
{% endblock %}
