{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="connexion">
    <p>Déja inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
    
</div>
<h2>INSCRIPTION</h2>
    <div class="register">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
            {{ form_start(registrationForm) }}
            <div id="name-field">
                {{ form_widget(registrationForm.nom)}}  {{ form_widget(registrationForm.prenom)}}
            </div>
            <div>
                {{ form_widget(registrationForm.email) }}
            </div>
            <div>
                {{ form_widget(registrationForm.plainPassword) }}
            </div>
            <div id="agreeTerms">
                <a href="https://www.privacypolicies.com/live/f66e0b95-a02b-4d2a-89b8-4b8dd9d68969">Mentions légales</a> {{ form_row(registrationForm.agreeTerms) }}
            </div>
                <button type="submit" class="btn btn-primary">Inscription</button>
            {{ form_end(registrationForm) }}
    </div>
{% endblock %}
