{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
{% for message in app.flashes('message') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% for message in app.flashes('succes') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="info-compte">
    <h1>Mon compte</h1>
    <ul>
        <li>Nom : {{ app.user.nom }} </li>
        <li>Prenom : {{ app.user.prenom }} </li>
        <li>Email : {{ app.user.email }} </li>
        <li>Téléphone : {{ app.user.telephone }} </li>
        {% for adresse in app.user.adresses %}
            <li>Adresse : {{ adresse.adresse }} </li>
        {% endfor %}
    </ul>
    <a href="{{ path('modifier_compte')}}" class="btn btn-primary">Modifier le profil</a>
    <a href="{{ path('modifier_mdp') }}" class="btn btn-primary">Modifier le mot de passe</a>
    <a href="{{path('commande')}}">Mes commandes</a>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Supprimer le compte
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Vous êtes sur le point de supprimer votre compte, voulez-vous vraiment continuer !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{{ path('suppression_compte', {'id': app.user.id})}}">Supprimer</a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
