{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div class="adresses">
    <p>Mes adresses <p>
    {% for adresse in app.user.adresses %}
        <p>Adresse : {{ adresse }}</p>
        <p>Code Postale : {{ adresse.cp }}</p>
        <p>Vile : {{ adresse.ville }}</p>
        <p>Pays : {{ adresse.pays }}</p>
    {% endfor %}
</div>

<div class="panier">
    <p class="text-center">Votre commande</p>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Produits</th>
            <th>Prix</th>
            <th>Quantité</th>
        </tr>
    </thead>
    <tbody>
        
        {{dump(panier)}}
        {% for item in panier %}
            <tr>                
                <td>{{ item.produit }}</td> 
                <td>{{ item.produit.prix}} €</td>
                <td>{{ item.qtt}}</td>
                <td><a href=""><i class="fa-solid fa-trash-can text-danger"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
