{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<h1 class="text-center">Mes commandes</h1>

{% for commande in commandes %}
<div class="commande">
    <ul>
        <li>Numéro de commande : {{ commande.numero }}</li>
        <li>Date de commande : {{ commande.dateCommande | date('d/m/Y H:i:s') }}</li>
        <li>Adresse de livraison : {{ commande.adresseLivraison.adresse }}</li>
        {% for item in commande.paniers %}
            <li>Produits : {{item.produit}} {{item.quantite}}</li>
        {% endfor %}
        <li>Facture n°{{ commande.facture }} : <a href="{{ path('facture', {'id': commande.id} ) }}">Télecharger</a></li>
    </ul>
</div>
{% endfor %}
{% endblock %}