{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}
<h1 class="text-center">Mes commandes</h1>
{% if commandes is empty %}
<section class="text-center">
    <h2>Vous n'avez aucune commandes pour l'instant</h2>
    <a href="{{ path('index_boutique')}}" class="btn btn-primary">Aller vers la boutique !</a>
</section>
{% else %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Numéro de commande</th>
            <th>Date de la commande</th>
            <th>Facture</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
            <tr>                
                <td>{{ commande.numero }}</td> 
                <td>{{ commande.dateCommande | date('d/m/Y H:i:s') }}</td>
                <td>Facture n°{{ commande.facture }} : <a href="{{ path('facture', {'id': commande.id} ) }}">Télecharger</a></li></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}