{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<div class="adresses">
    <h2>Mes adresses</h2>
    {{ form_start(formConfirm, {action: path('validation_commande')}) }}
        <div>
            {{ form_widget(formConfirm.adresse) | replace({'[esc]' : '<br>'}) | raw }}
        </div>
    {{ form_end(formConfirm) }}
    <a href="{{ path('ajouter_adresse') }}" class="btn btn-success">Ajouter une adresse</a>
</div>

<div class="panier">
    <h2>Ma commande</h2>
    {% for item in panier %}
        <p>Produit : {{ item.produit }}</p>
        <p>Quantité : {{ item.qtt}}</p>
        <p>Prix unitaire : {{ item.produit.prix}} €</p>
    {% endfor %}
    <p>Total de la commande: {{ total }} €</p>
    <a href=""><i class="fa-solid fa-trash-can text-danger"></i></a>
    <a href="" class="btn btn-success text-center">Finaliser la commande</a>
</div>
{% endblock %}