{% extends 'base.html.twig' %}

{% block title %}Hello AdminproduitController!{% endblock %}

{% block body %}
<h1>Mes adresses</h1>
<a href="{{ path('ajouter_adresse') }}" class="btn btn-success">Ajouter</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Adresse</th>
            <th>Code Postale</th>
            <th>Ville</th>
            <th>Pays</th>
        </tr>
    </thead>
    <tbody>
        
        {% for adr in adresses %}
            <tr>                
                <td>{{ adr.adresse }}</td> 
                <td>{{ adr.cp }}</td>
                <td>{{ adr.ville }}</td>
                <td>{{ adr.pays }}</td>
                <td><a href=""><i class="fa-solid fa-pen-to-square text-warning"></i></a> <a href="{{ path('supprimer_adresse', {'id': adr.id}) }}"><i class="fa-solid fa-trash-can text-danger"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
