{% extends 'base.html.twig' %}

{% block title %}{{ produit }}{% endblock %}

{% block body %}
<div class="produit-grid">
    <div class="produit-img">
        <img src="../image/dessins/{{ produit.image }}" alt="{{ produit.nom }}" >
    </div>
    <div class="info-produit" style="width: 100%;">
        <h1>{{ produit }}</h1>
        <small>{{ produit.categorie }}</small>
        <p>
            {{ produit.description }}
        </p>
        <p>
            Creer : le 22/07/2006
        </p>
        <p>Dimensions : {{ produit.dimensions }} cm</p>
        <p>{{ produit.prix }} €</p>
        <a href="{{ path('ajout_panier', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>
{% endblock %}