<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    {% endblock %}
</head>

<body>
    <header>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <nav>
            <div class="logo">
                <a href="{{ path('acceuil') }}">
                    <img src="{{ asset('image/logo/logo_white_fbdn.png') }}" alt="Logo FBDN">
                </a>
            </div>
            <ul>
                <li><a href="">Accueil</a></li>
                <li><a href="{{ path('index_boutique') }}">Boutique</a></li>
                <li><a href="{{ path('actualite') }}">Actualités</a></li>
                <li><a href="{{ path('app_a_propos') }}">A propos</a></li>
            </ul>
            <div id="header-buttons">
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}" class="header-button">Admin</a>
                {% endif %}
                {% if app.user %}
                <a href="" id="coup-de-coeur"><i class="fa-solid fa-heart"></i></a>
                <a href="" id="panier"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="{{ path('mon_compte') }}" class="header-button">Mon compte</a>
                <a href="{{ path('app_logout') }}" class="header-button">Deconnexion</a>
                {% else %}
                <a href="{{ path('app_register')}}" class="header-button">Inscription</a>
                <a href="{{ path('app_login')}}" class="header-button">Connexion</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <div id="wrapper">
        <main>
            {% block body %}{% endblock %}
        </main>
    </div>
    <footer>
        <div id="social">
            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <ul>
            <li><a href="{{ path('acceuil') }}">Acceuil</a></li>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Vie privé et sécurité</a></li>
            <li><a href="#">Mentions légale</a></li>
        </ul>
        <p>&copy; FBDessinNumerique, All rights reserved</p>
    </footer>
</body>

</html>